* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	outline: 0;
}
.container-fluid {
	position: relative;
	height: 100vh;
	width: 100vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.header {
	width: 100vw;
	height: 15vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.header h1 {
	text-transform: uppercase;
}
.section {
	width: 100vw;
	height: 85vh;
}

.inputs {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	margin: 10px 0;
}
.labels {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.labels {
	width: 100vw;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.labels input {
	display: block;
	width: 90%;
}

#canvas {
	background: #000;
}

.canvas {
	width: 90%;
	height: 90%;
	margin: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: width 2s ease-in-out;
}
.graph {
	width: 90%;
	height: 90%;
	margin: 0 auto;
	display: grid;
	place-items: center;
	transition: width 2s ease-in-out;
}
.btn {
	padding: 0.5em 1em;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}
.show-graph {
	color: #fff;
	background: rgb(8, 153, 8);
	transition: width 1s ease-in-out;
}
.hide-graph {
	color: #fff;
	background: rgba(5, 79, 82, 0.459);
	transition: width 1s ease-in-out;
}
