* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	outline: 0;
}
.container-fluid {
	position: relative;
	height: 100vh;
	width: 100vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.header {
	width: 100vw;
	height: 15vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.header h1 {
	text-transform: uppercase;
}
.section {
	width: 100vw;
	height: 85vh;
}

.inputs {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	margin: 10px 0;
}
.labels {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.labels {
	width: 100vw;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.labels input {
	display: block;
	width: 90%;
}

#canvas {
	background: #000;
	width: 100%;
	height: 100%;
}

.canvas {
	width: 90%;
	height: 90%;
	margin: auto;
}
